<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil Profesional</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
                <li><a href="{{ url_for('acerca') }}">Acerca de</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Wuillis Alberto Rangel Peña</p>
    </footer>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
