{% extends "base.html" %}

{% block content %}
    <h1>Bienvenido a Mi Perfil Profesional</h1>
    <img src="https://lh3.googleusercontent.com/a/ACg8ocJNdAH2aaR6KhqRvleK4fxwoHpG9m961UrdFEpFGrF5BhO3O0k=s432-c-no" alt="Wuillis Rangel">
    <p>Hola, soy Wuillis Alberto Rangel Peña, estudiante del quinto ciclo en el Instituto Continental. Mi pasión por la tecnología y el desarrollo de software me ha llevado a especializarme en áreas como el desarrollo web, bases de datos y programación orientada a objetos.</p>
{% endblock %}
